.c-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.c-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    width: 100%;
    background: #f7f7f7;
}
app-timeline {
    width: 100%;
}